
.c-form-item{
  display: flex!important;
  align-items: center;
  box-sizing: border-box;
  padding:0 10px;
  label{
    min-width: 100px;
    display: inline-block;
    margin: 0 10px;
    box-sizing: border-box;
  }
}
.c-input, .c-textarea, .c-button, .c-select{
  box-sizing: border-box;
  width: 100vw;
  border: 1px solid #54a4ff;
  border-radius: 6px;
  margin: 0;
  padding: 6px;
  outline: none;
  transition: all 0.2s;
}

.c-input{
  height: 40px;
  line-height: 40px;
}

.c-button{
  display: inline-block;
  box-sizing: border-box;
  width: auto;
  background-color: #54a4ff;
  color: white;
  cursor: pointer;
  padding: 6px 20px;
  height: auto;
  line-height: auto;
  font-size: 16px;
  letter-spacing: 4px;
  user-select: none;
  img{
    display: inline-block;
    padding: 0;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 22px;
    height: 22px;
    position: relative;
    top: 5px;
  }
  &.c-button-danger{
    background-color: rgba(238, 67, 0, 0.8);
    border-color: rgb(219, 62, 0);
  }
  &.c-button-danger:hover{
    background-color: rgba(219, 62, 0, 1);
  }
  &.c-button-info{
    background-color: rgba(211, 211, 211, 0.3);
    border-color: rgb(141, 141, 141);
    color: rgb(65, 65, 65);
  }
  &.c-button-info:hover{
    background-color: rgba(211, 211, 211, 0.6);
  }
  &.c-button-mini{
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    padding: 0 10px;
    border-radius: 4px;
  }
}
.c-tag {
  display: inline-block;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 12px;
  margin: 0 4px;
  border: solid 1px #6d6d6d;
  &.c-tag-success{
    background-color: #cfffe3;
    color: #496e58;
    border-color: #496e58;
  }
  .c-tag-warning{
    background-color: #ffd2c0;
    color: #b18270;
    border-color: #b18270;
  }
  .c-tag-danger{
    background-color: #ffa8a2;
    color: #8b4b46;
    border-color: #8b4b46;
  }
  .c-tag-info{
    background-color: #e6e6e6;
    color: rgb(139, 139, 139);
    border-color: rgb(139, 139, 139);
  }
}
.c-select{
  height: 40px;
  line-height: 40px;
  padding: 0 6px;
  appearance: base-select;
}

.c-select::picker(select) {
  appearance: base-select;
}
.c-select:hover, .c-select option:hover, .c-select option:active {
  background-color: #deeeff;
}

.c-input:focus, .c-textarea:focus, c-button:hover{
  border: 1px solid #0077ff;
}
.c-button:hover{
  background-color: #1582ff;
}

.c-textarea{
  height: 100px;
}


.c-table{
  width: 100vw;
  border-collapse: collapse;
  table-layout: fixed;
  &>thead, &>tbody, &>tfoot{
    &>tr{
      width: 100%;
      &>th, &>td{
        padding: 8px;
        border: 1px solid #6d6d6d;
        width: auto;
        box-sizing: border-box;
      }
    }
  }
  &>thead{
    &>tr{
      &>th{
        background-color: #e9e9e9;
      }
    }
  }
  
}